@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Inter:wght@400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

body,
html,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}